* {
  padding-right: 5px;
  padding-left: 5px;

}
.main-container {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-self: center;
  width: 50%;
}
.label-input-container {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px;
  margin-top: 10px;
}
.label {
  margin-top: 10px;
}
.login-button {
  align-self: center;
  background-color: rgb(79, 79, 221);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  margin-top: 20px;
}
.error {
  color: rgb(173, 46, 46);
}
.main-heading {
  text-align: center;
}
.product {
  list-style-type: none;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #eaebed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.image {
  width: 100px;
  height: 100px;
  align-self: center;
}
.product-title {
  font-size: 20px;
  font-family: "Roboto";
}
.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media(min-width: 768px) {
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    width: 25%;
  }
}
.details-image {
  width: 500px;
  align-self: center;
}
.details-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #eaebed;
  margin: 30px;
  padding: 20px;
}
.details-heading {
  align-self: center;
}